.search-results-page h2{
    margin: 20px;
    font-size: 20px;
}
.search-results-page__request-text {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 11px;
}

.search-results-page__specification-boxes {
    display: flex;
    justify-content: left;
    margin: 20px;
}

.search-results-page__specification-box {
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 5px;
}

.search-results-page__model-series-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.search-results-page__model-series-box {
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.search-results-page__model-series-top-text {
    display: flex;
    justify-content: left;
}

.search-results-page__model-series-box img {
    width: 160px;
    height: 120px;
}

.search-results-page__midle-box-with-sorter {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.search-results-page__sort-box {
    display: flex;
}