@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url(./reset.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./contacts.css);
@import url(./search-results-page.css);

:root {
    --primary-color: #594ae2;
    --primary-light-color: #766ae7;
    --primary-dark-color: #3e2cdd;

    --secondary-color: #03a9f4;
    --secondary-light-color: #67daff;
    --secondary-dark-color: #007ac1;
    --secondary-grey-color: #565656;

    --accent-color: #ff4081;
    --accent-light-color: #ff79b0;
    --accent-dark-color: #c60055;

    --background-color: #f5f5f5;
    --surface-color: #ffffff;
    --black-background-color: #000;

    --text-primary-color: #0A0A0A;
    --text-secondary-color: #fff
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

.active {
    display: block;
}

/* .btn {
    border: none;
    outline: 0;
    color: var(--text-secondary-color);
    background-color: var(--primary-dark-color);
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    width: 96%;
    padding: 2%;
}

.btn:hover {
    opacity: 0.7;
}

.navbar {
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 2%;
}

.logo img {
    cursor: pointer;
    max-width: 100%;
    height: 50px;
}

nav {
    flex: 1;
    text-align: right;
    position: relative;
}

nav ul {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    overflow: hidden;
    transition: 1s;
    max-height: 0;
    transition: 0.5s;
}

nav ul li {
    display: block;
    cursor: pointer;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-primary-color);
}

nav ul li a:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.left-nav-bar {
    display: flex;
}

.left-nav-bar a img {
    padding: 10px 5px 10px 5px;
    cursor: pointer;
}

.active-page {
    text-decoration: underline !important;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--black-background-color);
}

.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: var(--text-secondary-color);
}

.overlay .closebtn:hover {
    opacity: 0.7;
}

.overlay input[type="text"] {
    padding: 3%;
    border: none;
    float: left;
    width: 94%;
    background: var(--background-color);
    font-size: 1rem;
}

.overlay input[type="text"]:hover {
    opacity: 0.7;
}

/* car-catalog page */

/* main {
    display: flex;
    flex-direction: column;
}

main header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.row {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-top: 2%;
}

.column {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: column;
    margin-right: 10px;
    width: 100%;
}


.category-btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.category-btn span {
    display: block;
    border: 0px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text-secondary-color);
    text-align: center;
    line-height: 40px;
    width: 150px;
    cursor: pointer;
    margin: 10px;
}

.category-btn span:hover {
    opacity: 0.7;
}


.item-catalog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
}

.item-card {
    padding: 2%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    justify-content: center;

}

.item-image img {
    max-width: 100%;
}

.item-info {
    margin-top: 2%;
    margin-bottom: 2%;
}

.item-info h3 {
    text-align: center;
    margin-bottom: 2%;
}

.item-table {
    width: 100%;
}

.item-table td:first-child {
    text-align: left;
}

.item-table td:last-child {
    text-align: right;
}


.page-btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page-btn span {
    display: block;
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--text-primary-color);
    text-align: center;
    line-height: 40px;
    width: 40px;
    cursor: pointer;
    margin: 10px;
}

.page-btn span:hover {
    opacity: 0.7;
}


.shopping-cart-items-table {
    border: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    background-color: var(--surface-color);
}

.shopping-cart-items-table thead {
    display: none;
}

.shopping-cart-items-table tr {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1em 1em 0.5em;
}

.shopping-cart-items-table tr+tr {
    margin-top: 0.625em;
}

.shopping-cart-items-table td {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid var(--border-color);
    font-size: 0.8em;
    line-height: 1.35em;
}

.shopping-cart-items-table td input {
    width: 40px;
}

.shopping-cart-items-table td:before {
    content: attr(data-label);
    font-size: 0.9em;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 45%;
    color: #545454;
}

.shopping-cart-items-table td+td {
    margin-top: 0.8em;
}

.shopping-cart-items-table td:first-child img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.shopping-cart-items-table td:last-child {
    border-bottom: 0;
}

.shopping-cart-items-table input {
    padding: 5px;
}

.shopping-cart-items-table td:not(:first-child){
    height: 30px;
}

.small-container{
    max-width: 80%;
    margin: auto;
}
.small-container-filled {
    max-width: 80%;
    margin: auto;
    background-color: var(--surface-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.total-price-table{
    border: 0;
    border-collapse: collapse;
    margin: 1em 0 0 0;
    padding: 1em;
    width: 100%;
    table-layout: fixed;
    background-color: var(--surface-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.total-price-table td{
    padding: 1em 1em 0.5em;
}
.total-price-table td:first-child{
    text-transform: uppercase;
}
.total-price-table td:last-child{
    text-align: right;
}

@media only screen and (min-width: 600px) {
    nav ul {
        display: inline-block;
        overflow: visible;
        position: relative;
        top: -5px;
    }

    nav ul li {
        display: inline-block;
    }

    .menu-icon {
        display: none;
    }

    .row {
        display: -webkit-flex;
        flex-direction: row;
    }

    .column {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    main aside {
        max-width: 300px;
    }

    .item-catalog {
        flex-direction: row;
    }
}


@media screen and (min-width: 600px) {

    .shopping-cart-items-table {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .shopping-cart-items-table thead {
        display: table-header-group;
        background-color: var(--primary-light-color);
        color: var(--text-secondary-color);
        height: 40px;
    }

    .shopping-cart-items-table tr {
        display: table-row;
        border: 0;
        box-shadow: none;
    }

    .shopping-cart-items-table th,
    .shopping-cart-items-table td {
        text-align: center;
    }

    .shopping-cart-items-table td:last-child {
        text-align: right;
        width: auto;
        padding-right: 1em;
    }

    .shopping-cart-items-table th {
        font-size: 0.85em;
        text-transform: uppercase;
    }

    .shopping-cart-items-table td {
        display: table-cell;
    }

    .shopping-cart-items-table td:before {
        display: none;
    }

    .shopping-cart-items-table td:last-child {
        width: auto;
        text-align: right;
    }
} */ 